{% load static %}   <!--这个地方引入static这个文件 -->
{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<!--自适应 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="汽车,汽车之家,汽车网,汽车报价,汽车图片,新闻,评测,社区,俱乐部" />
<meta name="description" content="">

<!-- block title标题 -->
<!-- <title>帮帮看</title> -->
<title> {% block title %}{% endblock %} </title>

<!-- block extrahead -->
{% block extrahead %}{% endblock %}  
<!-- <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' class="holderjs">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>-->

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" > <!-- 字体图标css -->
<link rel="stylesheet" href="{% static 'css/Pygments.css' %}" >
<link rel="stylesheet" href="{% static 'plugin/highlight/tomorrow.css' %}" >
<link rel="stylesheet" href="{% static 'css/cikonss.css' %}"> <!-- css实现的响应式Icon -->

<style type="text/css">

{% block stylecss %} {% endblock %}

body {
	    color: #3C3C3C;
		background:#f5f5f5;
		opacity:0.8;
}
/*
.commonTopbar {
font: 11px/1.2 Hiragino Sans GB,Microsoft YaHei,\\5FAE软雅黑,arial,Tahoma,SimSun,"sans-serif";
	  line-height: 1.2;
	  text-rendering: geometricPrecision;
	  -webkit-font-smoothing: antialiased;
position: relative;
		  z-index: 999;
width: 100%;
	   line-height: 35px;
height: 35px;
background: #fff;
color: #555;
	   border-bottom: 1px solid #ddd;
}
*/

a {
color: #778087;
}
a.top:hover {
color: red;
//color: #99a;
	   text-decoration: none;
   }
a:hover {
//color: red;
color: #778399;
  }

  /*
.no_hove_line a:hover {
	text-decoration: none;
color: #343a40;
}
*/
#Bottom {
	border-top: 1px solid rgba(0, 0, 0, 0.22);
	background-color: #fff;
	text-align: center;
color: #999;
padding: 0px 10px 0px 10px;
}
.avatar {
width: 73px;
height: 73px;
}
*/
.copyright{
	background-color: #343a40;
color: #6c7980;
	   font-size: 14px;
	   line-height: 20px;
	   text-align: center;
clear: both;
	   font-family: initial;
}


</style>

<!-- css样式表 -->
{% block CSS %} {% endblock %}



</head>

<body>
<!-- top bar -->
<!--通過設置height 和line-height讓文字垂直居中-->
<div id="Top"  class="" style="width=100%; background: #ffff; color: #555; padding-top: 1px;">
    <!-- line-height 與height一樣高，文本垂直居中 -->
    	<div style="height:35px;line-height:35px;" class="clearfix"><!-- 此div包含浮動 -->
        <div style="height: 35px;margin-left:15px;"  class="pull-left">
            <ul  class="list-inline list-unstyled">
                <li><span style="" ><a href="#" style="" name="top" title="way to explore">北京</a></span>

                <span><a href="#">切换城市</a><span> <span><a href="#">[北京 廊坊 保定 天津]</a></span>
                        </li>
                    </ul>
                </div>
                <div style="height: 35px;margin-right:15px;" class="pull-right">

                    <ul  class="list-inline list-unstyled">
                        {% if request.session.user_info %}
                        <li>
                        <span class="glyphicon glyphicon-home" >	<a href="{% url 'home' %}" class="top">首页</a> </span></li>
                        <li><span><a href="{% url 'users:settings' %}" class="top">{{ request.session.user_info.username }}</a><span><li>
                                <li><span><a href="{% url 'users:settings' %}" class="top">设置</a></span></li>
                                <li><span><a href="{% url 'users:logout' %};" onclick="if (confirm('确定要登出？'))
                                        { location.href= '{% url 'users:logout'  %}'; }" class="top">登出</a></span></li>
                                {% else %}
                                <li>
                                <span class="glyphicon glyphicon-home" ><a href="{% url 'home' %}" style="margin-left:3px;" class="top">首页</a>
                                </span>
                                </li>
                                <li><span>	<a href="{% url 'users:login' %}" class="top">登录</a></span>
                                <span style="font-style: italic">| </span> 
                                <a href="{% url 'users:register' %}" class="top">注册</a></li>
                                {% endif %}
								<!-- class="dropdown" id="dropdownlist" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
								<!-- position:relative;-->
                                <li style="position:relative;" >	
								<a href="{% url 'users:settings' %}" style="margin-left:3px;" class="top haschild"><span class="glyphicon glyphicon-user"></span>个人中心 <span class="caret"></span> </a>
								<!-- z-index:999;-->
                                <ul class="list-unstyled popmenu" style="text-align:center;float: left;min-width: 80px;padding:0 5px 0 5px;width:86px;position:absolute; display:none;background-color: #fff;border: 1px solid #ccc; border-radius: 4px;box-shadow: 0 6px 12px rgba(0,0,0,.175); z-index:99999;" aria-labelledby="dropdownlist">  
                                    <li style=""><a class="" href="#">10</a></li>  
                                    <li style=""><a class="" href="#">20</a></li>  
                                    <li style=""><a class="" href="#">30</a></li>  
                                    <li style=""><a class="" href="#">100</a></li>  
                                </ul>  

                                </li>
                                <li> <span> <a href="#" class="top">手機App</a></span> </li>
                                <li>
                                <span><a href="{% url 'contact:contact' %}" class="top">联系我們</a></span>
                                </li>	</ul>
                            </div> <!--right -->
                            <!--
                           <div class="clearfix"</div>
                            <div style="clear:both;"></div>
                            清除浮動 -->
                        </div> 


</div> <!-- end of top bar -->


<div style="width=100%;">
{% include 'navbar.html' %}
</div>

{% comment %}

<div id="Wrapper">
<div class="content">
<div id="Leftbar">
<div class="sep20"></div>
{% block leftbar %} {% endblock %}
</div>

<div id="Rightbar">
<div class="sep20"></div>
{% block rightbar %} {% endblock %}
</div>
<div class="sep20"></div>
</div>
<div class="c"></div>
{% if is_login %}
{% csrf_token %}
{% endif %}
{% endcomment %}



<!--中间部分 -->
<div id="Main" class="container" style="min-height:480px">
{% block main %}
{% endblock %}
</div>


<!-- footer底部 -->
{% block footer %} {% endblock %}


<!--
<div>

</div>
-->
<!--div 置底 -->
<div id="Bottom" style="">
<div class="content">
<div class="inner">
<div class="sep10"></div>
<strong>
	<a href="#" class="dark" target="_self">关于</a> &nbsp; 
	<span class="snow">·</span> &nbsp; 
<a href="#" class="dark" target="_self">FAQ</a> &nbsp; 
<span class="snow">·</span> &nbsp;
<a href="#" class="dark" target="_self">API</a> &nbsp; 
<span class="snow">·</span> &nbsp; <a
href="#" class="dark" target="_self">我们的愿景</a> &nbsp;
<span class="snow">·</span> &nbsp; 
<a href="#" class="dark" target="_self">广告投放</a> &nbsp; <span class="snow">·</span> &nbsp; 
<a href="#" class="dark" target="_self">鸣谢</a> &nbsp; <span class="snow">·</span>
&nbsp; {{ request.online_member_count }} 人在线</strong>&nbsp;
<span class="snow">·</span> &nbsp; <span>您的IP是: {{ request.current_visitor_ip }}</span>
<div class="sep20"></div>
创意工作者们的社区
<div class="sep5"></div>
World is powered by solitude
<div class="sep20"></div>
<div class="sep10"></div>
</div>
</div>
<div  class="copyright">
<!-- copyright 包含静态页面 -->
{% include 'include/copyright.html' %}
</div>
</div>



{% comment %}
<!-- 加载js -->
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>

<!-- IE10 viewport bug workaround -->
<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
{% endcomment %}
<!-- Placeholder Images -->
<script src="{% static 'plugin/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'js/affix.js' %}"></script>
<script src="{% static 'js/alert.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'js/carousel-min.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.slim.js' %}"></script>
<script src="{% static 'js/button.js' %}"></script>
<script src="{% static 'js/collapse.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/popover.js' %}"></script>
<script src="{% static 'js/scrollspy.js' %}"></script>
<script src="{% static 'js/tab.js' %}"></script>
<script src="{% static 'js/tooltip.js' %}"></script>
<script src="{% static 'js/transition.js' %}"></script>
<script src="{% static 'js/Gruntfile.js' %}"></script>

<script>

	function showpopmenu(){
		//	$(".popmenu").toggle();
		$(".popmenu").style.display=block;
	
	}

			$(document).ready(
			function () {
				$(".haschild").mouseenter(function () {
				console.log("haschild mouseenter")
				   var flag = $(".popmenu").is(":hidden");  
					if(flag){  
						$(".popmenu").show();  
						}else{  
						//$(".popmenu").hide(5000);  
					}  
				} )
				$(".haschild").mouseout(
				function(){
				console.log("haschid mouseout")
				   var flag = $(".popmenu").is(":hidden");  
					if(flag){  
						$(".popmenu").show();  
						}else{  
						//$(".popmenu").hide(5000);  
					}
					}
					)

				$(".popmenu").mouseenter(function () {
					console.log("popmenu mouseenter")
					$(".popmenu").show();  

				})

				$(".popmenu").mouseover(function () {
					$(".popmenu").show();  
				console.log("popmenu mouseover")
					//$(".popmenu").style.display=block;
					//$(".popmenu").toggle();
				} )

				$(".popmenu").mouseout(function () {
				console.log("popmenu mouseout")
					//$(".popmenu").children("li").toggle();
					//$(".popmenu").style.display=block;
				   var flag = $(".popmenu").is(":hidden");  
					if(!flag){  
						$(".popmenu").hide(2000);
					}
				} )

			}
			)
		</script>

		{% comment %}
<script>
/* Ajax 初始化请求操作*/
$(function () {
		$.ajaxSetup({
beforeSend: function (xhr, settings) {
xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
}
});
		});
/* title 变化 */
document.addEventListener("visibilitychange", function () {
		if (document.hidden) {
		$('title').text('V2EX');
		} else {
		$('title').text('欢迎回来ヽ(✿ﾟ▽ﾟ)ノ');
		setTimeout("$('title').text('V2EX');", 3000);
		}
		}, false);

</script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
		{% endcomment %}

<!--加载其他Js -->
{% block JS %}
{% endblock %}


</body>
</html>
