{% extends 'layout.html' %}


{% block main %}

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Logo</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">交通工具</a>
                    </li>
                    <li>
                        <a href="#">家装设计</a>
                    </li>
                    <li>
                        <a href="#">当地向导</a>
                    </li>
					<!--
                    <li>
						<a href="/focus/register">注册</a>
                        <a href="<% url 'register' %>">注册</a>
                    </li>
					 <li>
                        <a href="/focus/login">登录</a>
                    </li>
					-->
					<!--<li class="dropdown">-->
						<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span class="caret"></span></a>-->
						<!--<ul class="dropdown-menu" aria-labelledby="about-us">-->
							<!--<li><a href="#">Programming World</a></li>-->
							<!--<li><a href="#">Poetry and the Distance</a></li>-->
							<!--<li><a href="#">The Pots and Pans</a></li>-->
						<!--</ul>-->
					<!--</li>    -->
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="container-fluid">

		{%block left %}
		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-fire"></span> The Principles of Programmer </h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">Embrace Change </a>
					<a href="#" class="list-group-item">KISS: Keep it simple, stupid!</a>
					<a href="#" class="list-group-item">Hide Implementation Details</a>
					<a href="#" class="list-group-item">LoD: Law of Demeter</a>
					<a href="#" class="list-group-item">DRY: Don't Repeat Youself</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> Don’t repeat yourself</h1>
				</div>

				<div class="panel-body">
					<p>DRY is probably the single most fundamental tenet in programming is to avoid repetition. Many programming constructs exist solely for that purpose (e.g. loops, functions, classes, and more). As soon as you start repeating yourself (e.g. a long expression, a series of statements, same concept) create a new abstraction.</p>
					<p><button class="btn btn-default">Engage</button></p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span>
						Active Predomination
					</h3>
				</div>
				<div class="panel-body">
					<p>Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">Resource</button>
						<button type="button" class="btn btn-default">Envision</button>
						<button type="button" class="btn btn-default">Niche</button>
					</div>
				</div>
			</div>

		</div><!--/Left Column-->
	{% endblock %}

		<!-- Center Column -->
		<div class="col-sm-6">
		
			<!--内行人列表  -->
			{% for u in user_list %}
			<div class="row">
				<article class="col-xs-12">
					<h2><a id="user_id", href="{% url 'users:detail' u.id %}">{{ u.id}}</a></h2>
					<!-- 简介 -->
			<p>	内行行业:	<%  %> </p>
					<!-- <p>{{ article.content|truncatechars_html:80 | safe }}</p> -->
				<!-- 	<p><button class="btn btn-default">Read More</button></p>  -->
					<!-- 用户标签 -->
					<p class="pull-right"><span class="label label-default">{{ cate.cate_name }}</span> <span class="label label-default">tag</span> <span class="label label-default">"author"</span></p>
					<ul class="list-inline">
						<li><a href="#">{{ article.pub_date | date:"j M" }}</a></li>
						<!-- 评论数量 -->
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} Comments</a></li>
						<!-- 关注人数 -->
						<li><a href="#"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} Favorites</a></li>
					</ul>
				</article>
			</div>


{% block main %}


		<!-- Center Column -->
		<div class="col-sm-6">
			<!--内行人列表  -->
			{% for u in user_list %}
			<div class="row">
				<article class="col-xs-12">
					<h2><a id="user_id", href="{% url 'users:detail' u.id %}">{{ u.id}}</a></h2>
					<!-- 简介 -->

					<!-- <p>{{ article.content|truncatechars_html:80 | safe }}</p> -->
				<!-- 	<p><button class="btn btn-default">Read More</button></p>  -->
					<!-- 用户标签 -->
					<p class="pull-right"><span class="label label-default">{{ cate.cate_name }}</span> <span class="label label-default">tag</span> <span class="label label-default">"author"</span></p>
					<ul class="list-inline">
						<li><a href="#">{{ article.pub_date | date:"j M" }}</a></li>
						<!-- 评论数量 -->
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} Comments</a></li>
						<!-- 关注人数 -->
						<li><a href="#"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} Favorites</a></li>
					</ul>
				</article>
			</div>
			<hr>
			{% endfor %}


		
		<!--/Center Column-->


{% endblock %}
