{% load static %}   <!-- 这个地方引入static这个文件 -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>欢迎登陆--帮帮看</title>
<style type="text/css">  
body{background: url( {% static 'img/bg.jpg' %}) no-repeat;background-size:cover;font-size: 16px;}
.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}  
#login_form{display: block;}  
register_form{display: block;}  
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}  
input[type="text"],input[type="password"]{padding-left:26px;}  
.checkbox{padding-left:21px;}  
</style>  


</head>
<body>
<!--网格系统:通过行和列布局
行必须放在container内
手机用col-xs-*
平板用col-sm-*
笔记本或普通台式电脑用col-md-*
大型设备台式电脑用col-lg-*
为了兼容多个设备，可以用多个col-*-*来控制；
-->
<div class="container">
     <div style="font-size: 25px; font-weight: bold;text-align: center;">
         用户登陆
     </div>
<div class="login" id="login_form">
     <form role="form" action="{% url 'users:index' %}" method="POST">
	 {% csrf_token %}
         <div class="form-group">
             <label for="username">用户名</label>
             {{ form.username }}  <span style="color: red">{{ form.username.errors }}</span>
         </div>

        <!-- <div class="form-group">
             <label for="email">邮箱</label>
             {{ form.email }}<span style="color: red">{{ form.email.errors }}</span>
         </div> -->
         <div class="form-group">
             <label for="password">密码</label>
             {{ form.password1 }}<span style="color: red">{{ form.password1.errors }}</span>
         </div>
		 <!--
		 <div class="checkbox">
		 <label>
		 <input type="checkbox">我已阅读并接受<a href="#">注册条款</a>
		 </label>
		 </div>
		 -->

		 <div class="checkbox">
		 <label>
		 <input type="checkbox">是否记住
		 </label>
		 </div>


		 <div class="form-group">
         <input type="submit" class="btn btn-default" value="登陆"/>
         <input type="submit" class="btn btn-default" value="重置"/>
		 </div>
     <span>没有账号？<a href="{% url 'users:register' %}">去注册</a></span>
     <span><a href="#">返回首页</a></span>
     </form>
 </div>
</div>

	  <!--  <div class="login-footer">
	        <span id="footerTip" href="javascript:;">© 58.com</span><span>|</span><a href="http://ai.58.com/pc/#/entry/scene_id=2&joinfrom=regist" target="_blank" onclick="clickLog('from=pc_register_ai_click')">联系客服</a><span>|</span><a href="//about.58.com/customerservice.html" target="_blank">帮助</a>
	    </div>-->

    <!--<script>
    window.onload = function(){
        $(".regLable").html("");

    }
    </script>-->
	</body>
</html>
