<!--
    <!DOCTYPE html>
	<html lang="en-US">
<body>
&lt;!&ndash;头部文件&ndash;&gt;
<div class="nav">
    <div class="nav_nr">
        <dl class="nav1">
            <dt><a href="http://www.51cto.com" target="_blank"><img src='https://static5.51cto.com/home/web/images/reg_2015/logo.jpg' alt=""></a></dt>
            <dd>账号通行证</dd>
        </dl>
        <dl class="nav2">
            <dt><a href="http://home.51cto.com?reback=">登录</a></dt>
            <dd><a href="http://51ctohome.blog.51cto.com/1805422/363950" target="_blank">常见问题</a></dd>
        </dl>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var doc=document,inputs=doc.getElementsByTagName('input'),supportPlaceholder='placeholder'in doc.createElement('input'),placeholder=function(input){var text=input.getAttribute('placeholder'),defaultValue=input.defaultValue;
            if(defaultValue==''){
                input.value=text}
            input.onfocus=function(){
                if(input.value===text){this.value=''}};
            input.onblur=function(){if(input.value===''){this.value=text}}};
        if(!supportPlaceholder){
            for(var i=0,len=inputs.length;i<len;i++){var input=inputs[i],text=input.getAttribute('placeholder');
                if((input.type==='text')&&text){placeholder(input)}}}});
</script>
&lt;!&ndash;头部文件结束&ndash;&gt;    <div class="zczh">
    <h2>
        51CTO服务条款
    </h2>
    <div class="fwtk">
        基于51CTO网站所提供的网络服务的重要性，用户为获得网络服务，应同意接受本协议的全部条款，并按照页面上的操作规则完成全部的注册程序。
        <span>1、服务使用说明 </span>
        （1）用户接受服务必须提供详尽、准确的个人资料，如个人资料有任何变动,必须及时更新注册资料，符合及时、详尽、准确的要求。<br/>
        （2）用户一旦注册成功，成为51CTO网站的合法用户，将得到一个用户帐号和相应密码。用户将对用户帐号和密码安全负全部责任。另外，每个用户都要对以其用户名进行的所有活动和事件负全部法律责任。用户可随时根据指示改变您的密码。用户若发现任何非法使用用户帐号或存在安全漏洞的情况，请立即通知51CTO网站。 <br/>
        （3）用户必须同意接受51CTO网站通过电子邮件或其他方式向用户发送有关商业信息。 <br/>
        （4）51CTO网站不对用户所发布信息的删除或储存失败负责。51CTO网站有判定用户的行为是否符合51CTO网站服务条款的要求和精神的权利，如果用户违背了服务条款的规定，51CTO网站有中断对其提供网络服务的权利。 <br/>
        （5）所有发给用户的通知（包括但不限于服务条款的修改、服务内容的变更以及其它重要事件）都可通过重要页面的公告或电子邮件或常规的信件的形式传送。<br/>
        （6）51CTO网站不提供账号删除服务，如果您要删除账号，请直接放弃使用即可。
        <span>2、服务条款的修改和服务的中断与终止 </span>
        （1）51CTO网站有权在必要时修改服务条款，51CTO网站服务条款一旦发生变动，将会在重要页面上提示修改内容。如果不同意所改动的内容，用户有权停止使用网络服务。如果用户继续享用网络服务，则视为接受服务条款的变动。51CTO网站保留随时修改服务或中断服务而无需通知用户的权利。51CTO网站行使修改或中断服务的权利，无需对用户或第三方负任何责任。 <br/>
        （2）51CTO网站可随时根据实际情况中断或终止一项或多项网络服务而无需对任何用户或第三方承担任何责任，如用户对一项或多项网络服务的中断或终止有异议或不满，可以行使如下权利：<br/>
        1)停止使用51CTO网站的网络服务。 <br/>
        2)通知51CTO网站停止对该用户的服务。 结束用户服务后，用户使用网络服务的权利立即终止，从终止时起，用户没有权利，51CTO网站也没有义务传送任何未处理的信息或未完成的服务给用户或任何第三方。 <br/>
        （3）如果用户提供的资料不真实或违反本协议中的使用规则，51CTO网站有权随时中断或终止为用户提供的网络服务而无需通知用户、无需对用户或任何第三方承担任何责任。<br/>
        <span>3、用户隐私制度  </span>
        （1）尊重用户个人隐私是51CTO网站的一项基本政策。51CTO网站保证不会在未经合法用户明确授权的情况下公开、编辑或向任何第三方透露用户的注册资料以及保存在51CTO网站中的非公开内容，除非有以下情况，51CTO网站在诚信的基础上认为透露这些信息在以下五种情况是必要的： 　<br/>
        1）遵守有关法律法规规定及相关政府部门的要求 <br/>
        2）遵从51CTO网站合法服务程序。<br/>
        3）保持维护51CTO网站的商标所有权。  <br/>
        4）为维护社会公众以及51CTO网站的合法权益。 　 <br/>
        5）其他需要公开、编辑或透露用户信息的情况。 <br/>
        （2）51CTO网站 时常会对隐私权政策进行完善。如果在使用用户个人信息政策方面有大幅度修改时，我们会在网页中明显的位置贴出相关规定以便及时通知用户。<br/>
        <span>4、用户的责任与义务 </span>
        （1）用户在使用51CTO网站服务的过程中，负有以下责任与义务： <br/>
        1）使用网络应遵守中国相关法律法规的规定； <br/>
        2）不得以任何非法目的使用网络服务；<br/>
        3）不干扰或混乱网络服务； <br/>
        4）遵守所有使用网络服务的网络协议、规定、程序和惯例。 <br/>
        5）用户须承诺不得传输任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的信息资料； <br/>
        6）用户不得传输任何教唆他人犯罪的信息和资料； <br/>
        7）不得传输助长国内不利条件和涉及国家安全的资料； <br/>
        8）不得未经许可而非法进入其它电脑系统； <br/>
        9）不得传播反动的、色情的信息和资料。<br/>
        （2）若用户的行为违反上述责任与义务，51CTO网站有权作出独立判断并立即取消用户的服务帐号，用户必须对自己在网上的行为承担一切法律责任，而且51CTO网站的系统记录有可能作为用户违反法律的证据。<br/>
        （3）用户同意保障和维护51CTO网站全体成员及其他用户的利益，如因违反本协议或违反有关的法律法规而给51CTO网站或任何第三人造成损失，用户应承担因此产生的一切赔偿责任。<br/>
        <span>5、网络服务内容的所有权</span>
        （1）51CTO网站定义的网络服务内容包括：文字、软件、声音、图片、录象、图表等。所有这些内容受著作权法、商标法、专利法及其他相关法律的保护。 <br/>
        （2）用户只能在51CTO网站或相关权利人授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的派生产品。<br/>
        （3）51CTO网站所有的文章版权归原文作者和51CTO网站共同所有，任何人需要转载51CTO网站的文章，必须征得原文作者和51CTO网站书面授权。<br/>
        <span>6、免责条款 </span>
        （1）用户同意承担使用51CTO网站服务所存在的一切风险以及因使用网络服务而产生的一切后果，51CTO网站对用户不承担任何责任； <br/>
        （2）51CTO网站不担保服务一定能满足用户的要求，也不担保服务不会受中断，对服务的及时性，安全性，及发生的错误都不作担保。51CTO网站对在51CTO网站上得到的任何商品购物服务或交易进程，不作任何担保。 <br/>
        （3）51CTO网站对任何直接、间接、偶然、特殊及继起的损害不负责任。这些损害可能来自：不正当使用网络服务，在网上购买商品或进行同类型服务，在网上进行交易，非法使用网络服务或用户传送的信息有所变动等。 <br/>
        （4）用户在他们发表的信息中加入宣传资料或参与广告策划，在51CTO网站的免费服务上展示他们的产品，任何这类促销方法，包括运输货物、付款、服务、商业条件、担保及与广告有关的描述都只是在相应的用户和广告销售商之间发生，51CTO网站不对此类行为承担任何责任。<br/>
        <span>7、法律的适用和管辖  </span>
        本协议的订立、履行解释以及因此而发生的一切争议，均适用中华人民共和国的法律。就本协议所发生的一切争议，双方应通过友好协商解决，协商不成，任何一方均可向51CTO网站所在地人民法院提起诉讼。<br/>
    </div>
</div>    <script src="https://logs.51cto.com/rizhi/count/count.js"></script>

<div style="display:none">
   <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?844390da7774b6a92b34d40f8e16f5ac";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-57622524-1', 'auto');
        ga('send', 'pageview');
    </script>
</div>
<div style="display:none">
<script src="https://logs.51cto.com/rizhi/count/count.js"></script>
<iframe frameborder="0" scrolling="no" width="0" height="0" src="http://log.51cto.com/pageview.php?frompos=www_art"></iframe>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?844390da7774b6a92b34d40f8e16f5ac";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
  <script type="text/javascript">
            var uid = '0';
            var _educto = _educto || [];
            _educto.push(['_setUserId',uid]);
        </script>
<script type="text/javascript">
            /*document.write(decodeURI("%3Cscript src='https://tongji.51cto.com/cto.js/3d7ca8d8c01f7e7b50250ff1c15bdae3' type='text/javascript'%3E%3C/script%3E"));*/
</script>
<script type="text/javascript"> document.write(unescape("%3Cscript src='https://tongji.51cto.com/frontend/tj.gif' type='text/javascript'%3E%3C/script%3E")); </script>

    <script src="https://static5.51cto.com/home/web/js/reg_2015/footer.js?v=10002"></script></body>
        &lt;!&ndash;简导航开始&ndash;&gt;
<head>
    <meta charset="UTF-8">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="ZWVGR2hTWHUUDhkKGgcMMiojLwQHGgcZCCg0BV1iFSAnXDwpISsKLw==">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title></title>
    <link href="https://static3.51cto.com/home/web/css/reg_2015/register20160929.css?v=10005" rel="stylesheet">
    &lt;!&ndash;
    <script src="https://static4.51cto.com/home/web/js/reg_2015/jquery-1.8.3.min.js?v=10001"></script>
    <script src="https://static5.51cto.com/home/web/js/system/yii.js?v=10001"></script>
    <script src="https://static4.51cto.com/home/web/js/51cto.js?v=10001"></script>
    <script src="https://static5.51cto.com/home/web/js/jquery.message.js?v=10001"></script>
    <script src="https://static1.51cto.com/home/web/js/reg_2015/ajaxreg.js?v=10002"></script>
    <script src="https://static1.51cto.com/home/web/js/reg_2015/pub.js?v=10001"></script>
    <script src="https://static4.51cto.com/home/web/js/reg_2015/analyse.js?v=10002"></script>
    <script src="https://static5.51cto.com/home/web/js/reg_2015/register.js?v=10005"></script>

    <script src="https://static5.51cto.com/home/web/js/yii/yii.captcha.js?v=10001"></script>
   &ndash;&gt;

</head>
    </html>
-->
